/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-smoke: #F8F9FA;
    --squid-ink: #051E34;
}

/* Body layouts */
header {
    height: 70px;
}

header form {
    flex-basis: 60%;
}

main {
    height: 100vh;
    max-width: 100vw;    
}

.sidebar {
    height: 100vh;
    width: 150px;
    margin-top: 70px;
    padding: 100px 30px 30px 30px;
}

.main-screen {
    width: 100vw;
    height: 100vh;
    margin-top: 70px;
    background-color: rgb(116, 163, 116);
}

/* Utilities */
.bg-whitesmoke {
    background-color: var(--white-smoke);
}

.bg-squid-ink {
    background-color: var(--squid-ink);
}

.mw_40 {
    max-width: 40px;
}

.my_10 {
    margin: 10px 0;
}

/* ---------- TO BE CHECKED ---------- */
.left_negative {
    left: -100px !important;
}
/* ----------   ---------- */

/* Other styles */
header i {
    margin: 0 10px;
}